* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.container {
  background-color: blue;
  width: 100vh;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: aliceblue;
  width: 500px;
  height: 300px;
  visibility: hidden;
}
.open-model {
  visibility: visible;
}
.sho/* .offer-container {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
} */;
