* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.container {
  width: 100vh;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  width: 500px;
  height: 300px;
  display: none;
  z-index: 0;
}
.open-model {
  display: block;
}
.bgr-color {
  background-color: grey;
}
.hide-btn {
  visibility: hidden;
}

/* ** This hides to offer acccpetd h1 tag */
.offer-accepted {
  display: none;
}

/* ** If we press accept then we will show that the offert was accepted and  */
/* This shows it  */
.show-offer {
  display: block;
}

.remove-offer {
  display: none;
}
