* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.container {
  width: 100vh;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  width: 500px;
  height: 300px;
  display: none;
  z-index: 0;
}
.open-model {
  display: block;
}
.bgr-color {
  background-color: grey;
}
.hide-btn {
  visibility: hidden;
}
.sho/* .offer-container {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
} */;
